body {
    width: 640px;
    margin: 20px auto 0 auto;
}

.form-item {
    margin-bottom: 10px;
}

.middle-length {
    width: 120px;
}

.long-length {
    width: 230px;
}

.required {
    color: red;
    margin-left: 3px;
    margin-right: 3px;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
}